DATABASE_URL="postgresql://USUARIO:CONTRASENA@localhost:5432/innovasoft_helpdesk?schema=public"

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_TTL=""
JWT_REFRESH_TTL=""

PORT=3000
CORS_ORIGIN=""
UPLOADS_DIR=""
MAX_UPLOAD_MB=10
